
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
  }
  
  .navbar-link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
  }
  
  .navbar-link:hover {
    text-decoration: underline;
  }
  
  .navbar-left, .navbar-center, .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-center {
    flex: 1;
    justify-content: center;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  