.app {
    display: flex;
  }
  
  .sidebar {
    width: 10vw;
    height: 90vh;
    background-color: #2583e0;
    color: wheat;
    padding: 15px;
  }
  
  .sidebar h2 {
    font-size: 1.5em;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    margin: 10px 0;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
  }
  