.sidebar {
    width: 200px;
    height: 90vh; 
    background-color: #333;
    color: white;
    padding: 20px;
    position: fixed;
  }
  
  .sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 15px;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
  }
  
  .sidebar ul li a:hover {
    text-decoration: underline;
  }
  